<div>
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required #usernameInput="ngModel">
        <div [hidden]="usernameInput.valid || usernameInput.pristine"
             class="alert alert-danger">
          Name is required
        </div>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>

    <button type="submit">Login</button>
  </form>

  <div *ngIf="registerSuccess && !loginSuccess" class="registerSuccess">
    <p>Register successful! Please log in.</p>
  </div>

  <div *ngIf="errorMessage && !loginSuccess && !registerSuccess" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>
