/* src/app/home/home.component.css */

div {
    margin: 20px; /* Add some margin for spacing */
    text-align: center;
  }
  
  button {
    margin-right: 10px; /* Add some space between the buttons */
    padding: 10px; /* Add padding to the buttons */
    background-color: #3498db;
    color: #fff; /* Set text color to white */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  button:hover {
    background-color: #2980b9;
  }
  